.counter__container{
    display: flex;
    justify-content: center;
    border: 2px solid var(--main);
    border-radius: 12px;
    
}

.dark{
background-color: var(--main);
color: var(--white);
border-radius: 0 9px 9px 0;
}

.light{
    background-color: var(--white);
    color: var(--main);
    border-right: 1px solid var(--main);
    border-radius: 12px 0 0 12px;
}

.count__value{
    color:var(--main);
    background-color: #F8E9E9;
    display: flex;
    width: 100%;
    align-items: center;
   justify-content: center;
   font-size:28px;
   min-width: 40px;
   padding:0 20px;
}

.input__count{
    padding: 2px 5px;
    border: none;
    border-bottom: 2px solid var(--main);
}

.left__align__text{
    text-align: left;
}

.container__value__container{
      display: flex;
      flex-direction: column;
      row-gap: 10px;
}

.submit{
      border-radius: 12px;
      background-color: var(--main);
      color: var(--white);
      margin-top: 10px;
}